
    <footer class="py-3 my-4" >
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary" style="color: aliceblue;"><p style="color: aliceblue;">Home</p></a></li>
        <li class="nav-item"><a href="/apod.ejs" class="nav-link px-2 text-body-secondary"><p style="color: aliceblue;">Features</p></a></li>
        <li class="nav-item"><a href="https://github.com/adrinorosario/space-app" class="nav-link px-2 text-body-secondary"><p style="color: aliceblue;">Github Repo</p></a></li>
        <li class="nav-item"><a href="https://www.linkedin.com/in/adrino-rosario-james-a152b91b4/" class="nav-link px-2 text-body-secondary"><p style="color: aliceblue;">LinkedIn</p></a></li>
      </ul>
      <p class="text-center text-body-secondary"><p style="color: aliceblue;">© 2024 Adrino Rosario James. All rights reserved. API the property of <a href="https://api.nasa.gov/">NASA API.</a></p> </p>
    </footer>
